header {
  text-align: center;
}

body {
  background: url(components/image/storeBackgrond.jpg) center center no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 171vh;
}

nav {
  display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 0;
}

nav > ul > li > a {
  text-decoration: none;
}

nav > ul {
  background-color: aqua;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 0;
}

nav > ul > li {
  padding: 0.5rem;
  list-style-type: none;
}

.emptyClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
