/* header {
  text-align: center;
}

body {
  background: url(components/image/storeBackgrond.jpg) center center no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 171vh;
}

.full-page {
  display: flex;
  flex-direction: column;
}
.full-page {
  display: grid;
}

nav {
  display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 0;
}

nav > ul > li > a {
  text-decoration: none;
}

nav > ul {
  background-color: aqua;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 0;
}

nav > ul > li {
  padding: 0.5rem;
  list-style-type: none;
}

.emptyClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
} */

/* ---------------------------------------------------------------------------------------------------- */

/* General Resets */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  /* height: 100%; */
  /* width: 100%; */
  background: url(components/image/storeBackgrond.jpg) center center no-repeat;
  /* background-size: cover; */
  min-height: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

p {
  border: 5px solid;
  background-color: darkseagreen;
  color: white;
}

#moreLess {
  border: 5px solid;
  background-color: darkseagreen;
  color: white;
  list-style-type: none;
}

/* Header Styles */
header {
  text-align: center;
}

/* Navigation Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

nav > ul {
  background-color: aqua;
  display: flex;
  align-items: center;
  flex-direction: row;
}

nav > ul > li {
  list-style-type: none;
  padding: 0.5rem;
}

nav > ul > li > a {
  text-decoration: none;
}

/* Main Content Styles */
.main {
  width: 100%;
}

#search-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.from-control,
.btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table thead {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #e6e6e6;
}

/* Other Styles */
.emptyClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
